@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Your default theme */
  font-size: 16px;
}

[data-theme='dark'] {
  --background: black;
  --foreground: white;
}

body {
  overflow-x: hidden;
}

.fullwidth-container {
  position: relative;
  width: 100vw;
  max-width: 100vw;
  margin-inline: calc(-50vw + 50%);
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
